.tooltip {
	position: absolute;
	background: var(--bg-03dp);
	width: max-content;
	top: 30px;
	left: 20px;
	z-index: 999;
	cursor: auto;
	padding: 5px 0;
}

.item {
	padding: 10px 30px 10px 15px;
	cursor: pointer;
	transition: background 0.15s;
	display: flex;
	align-items: center;
}

.item,
.item * {
	color: #fff;
	text-decoration: none;
	font-size: 16px;
}

.item[disabled],
.item[disabled] * {
	cursor: not-allowed;
}

.item[disabled] * {
	color: #777;
}

.item[disabled] svg {
	fill: currentColor;
}

.item:not([disabled]):hover {
	background: var(--bg-24dp);
}

.divider {
	width: 100%;
	height: 0.5px;
	background: #333;
	margin: 5px 0;
}

.icon {
	display: grid;
	place-items: center;
}

.icon svg,
.icon img {
	margin-right: 10px;
}

/* .icon svg {
	width: 100%;
	height: 100%;
} */
