.container {
	position: relative;
	color: #bbb;
}

.header {
	/* height: 4em; */
	padding: 1.2em 1em;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--bg-02dp);
}

.homeBtn {
	position: absolute;
	left: 1em;
}

.homeBtn svg {
	height: 2.5em;
}

.navlink {
	background-color: transparent;
	border: 0;
	outline: none;
	color: #a0a0a0;
	font-size: 0.9em;
	cursor: pointer;
	transition: color 0.2s;
	font-weight: bold;
	margin: 0 0.5em;
	text-decoration: none;
}

.navlink:global(.active) {
	color: #fff;
}

@media (hover: hover) {
	.navlink:hover {
		color: var(--main-color);
	}
}

.main {
	width: 40em;
	max-width: 100vw;
	margin: 0 auto;
	padding: 1em;
}

.item {
	margin: 0 0.2em;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
}

.item img,
.item svg {
	width: 10em;
	aspect-ratio: 1 / 1;
	border-radius: 0.25em;
	border: 0.15em solid transparent;
	fill: grey;
}

.item p {
	font-size: 1.2em;
	color: grey;
	text-decoration: none !important;
}

.item:hover img,
.item:hover svg {
	border-color: #e5e5e5;
}

.item:hover p {
	color: #e5e5e5;
}

.formGroup {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 1.8em;
}

.formGroup label {
	user-select: none;
	color: #bbb;
	font-size: 1em;
	margin-bottom: 0.25em;
	width: max-content;
}

.formGroup input[type='text'] {
	color: #bbb;
	background-color: var(--bg-12dp);
	border: 0.16em solid var(--bg-12dp);
	outline: none;
	border-radius: 0.2em;
	padding: 0.4em 0.25em;
	font-size: 1.1em;
	width: 100%;
}

.formGroup input:focus {
	border-color: var(--main-color);
}

.formGroup button:not([type='checkbox']) {
	background-color: transparent;
	border: 0;
	outline: none;
	font-size: 1em;
	color: #bbb;
	text-decoration: underline;
	cursor: pointer;
	width: max-content;
	margin-top: 0.2em;
}

.formGroup button.item {
	text-decoration: none;
}

.footer button {
	background: var(--main-color);
	width: 100%;
	font-size: 18px;
	padding: 0.7em 2em;
	color: #fff;
	border: 0;
	cursor: pointer;
	border-radius: 0.2em;
}

.profiles {
	margin-top: 1em;
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 26em) {
	.item img,
	.item svg {
		width: 8em;
	}
}
