.container {
	padding: 2.5rem 3rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	text-align: center;
}

.googleBtn {
	background-color: rgba(234, 67, 53, 0.35);
}

.googleBtn:hover {
	background-color: rgba(234, 67, 53, 0.45);
}

.icon {
	margin-right: 1rem;
	display: grid;
	place-items: center;
	font-size: 24px;
}

@media screen and (max-width: 32rem) {
	.container {
		padding: 2rem;
	}
}
