.main > header {
	padding: 0 var(--padding);
}

.slideshow {
	width: 80rem;
	aspect-ratio: 16 / 9;
	max-width: 100%;
	max-height: 80vh;
	margin: 1rem auto;
	position: relative;
	border-radius: 1rem;
	overflow: hidden;
}

.slideshow .items {
	display: flex;
	flex-direction: row;
	height: 100%;
	position: relative;
	transition: transform 0.3s ease-in-out;
}

.slideshow .item {
	width: 100%;
	height: 100%;
	user-select: none;
	position: relative;
	flex-shrink: 0;
}

.slideshow .backdrop {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.6;
	background-color: #000;
	pointer-events: none;
}

.slideshow .prevBtn,
.slideshow .nextBtn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: inline;
	z-index: 2;
	font-size: 3rem;
	color: var(--celtic-blue);
	cursor: pointer;
}

.slideshow .prevBtn {
	left: 0;
}

.slideshow .nextBtn {
	right: 0;
}

.smallButtons {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	display: flex;
	flex-direction: row;
	gap: 3px;
	z-index: 2;
}

.smallButtons > button {
	width: 1rem;
	height: 0.4rem;
	border: 0;
	background-color: rgba(255, 255, 255, 0.4);
	outline: none;
	cursor: pointer;
	transition: background-color 0.3s ease-out;
}

.smallButtons > button:global(.active) {
	background-color: var(--celtic-blue);
}

.metadata {
	height: 40%;
	width: 100%;
	padding: 2rem;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), transparent);
	position: absolute;
	bottom: 0;
	display: flex;
	column-gap: 1rem;
}

.metadata .poster {
	height: 100%;
	width: min-content;
}

.metadata .text {
	flex-grow: 1;
	width: 0;
	position: relative;
}

.metadata .genres {
	margin-bottom: 1rem;
	display: flex;
	gap: 1rem;
}

.metadata .genres a {
	color: #ccc;
	transition: color 0.3s;
}

.metadata .genres a:hover {
	color: var(--celtic-blue);
}

.metadata .description {
	margin-top: 2rem;
	color: #ccc;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.metadata .readManga {
	height: 180px;
	width: 130px;
	aspect-ratio: 3 / 4;
	padding: 1rem;
	background-color: transparent;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 1rem;
	text-decoration: none;
	transition: 0.3s;
	border: 1px solid rgba(255, 255, 255, 0.1);
	color: rgba(255, 255, 255, 0.6);
}

.metadata .readManga:hover {
	background-color: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(5px);
	color: rgba(255, 255, 255, 0.9);
}

.metadata .readManga :global(.icon) {
	font-size: 4rem;
	color: inherit;
}

.metadata .readManga span {
	color: inherit;
}

.continueReading {
	background-color: var(--rich-black);
	padding: var(--padding);
}

@media screen and (max-width: 1080px) {
	.metadata .genres,
	.metadata .poster,
	.metadata .description {
		display: none;
	}

	.metadata {
		height: max-content;
	}

	.smallButtons {
		right: unset;
		left: 50%;
		transform: translateX(-50%);
	}

	.metadata .text h1 {
		position: absolute;
		bottom: 0;
	}
}

@media screen and (max-width: 500px) {
	.metadata .readManga {
		display: none;
	}
}
