.container {
	width: 100%;
	height: 100%;
	overflow: hidden scroll;
	padding-bottom: 4.1em;
}

.inputContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: calc(100% - 5em);
	height: 2.8em;
	background: var(--bg-12dp);
	border-radius: 4px;
	box-shadow: 0 1px 3px rgb(0 0 0 / 50%);
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 20px;
}

.inputContainer input {
	padding: 0 0.2em 0 1em;
	background-color: transparent;
	border: 0;
	outline: none;
	color: #eee;
	font-size: 16px;
	width: 100%;
}

.inputContainer input::placeholder {
	color: #ababab;
	opacity: 1;
}

.inputContainer button {
	background: transparent;
	border: 0;
	outline: none;
	height: 100%;
	opacity: 0.7;
}

.submitBtn,
.resetBtn {
	cursor: pointer;
	display: grid;
	place-items: center;
}

.resetBtn {
	opacity: 1;
	margin-right: 8px;
	font-size: 20px;
}

.submitBtn {
	width: 60px;
}

.inputContainer:hover .submitBtn {
	background: #444;
	opacity: 1;
}

.main {
	margin-top: 20px;
	padding-bottom: 8em;
	width: 100%;
}

.hostName {
	color: #fff;
	font-size: 1.2em;
	font-weight: normal;
	margin: 5px 10px 15px 10px;
	width: 100%;
}

.mangaItem {
	background-color: transparent;
	display: flex;
	text-align: left;
	position: relative;
	height: 120px;
	width: 90%;
	padding: 0 30px 0 0;
	margin: 0 auto 15px auto;
	overflow: hidden;
	border: 1px solid var(--bg-12dp);
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.2s, box-shadow 0.2s;
	user-select: none;
}

.mangaItem:hover {
	background-color: var(--bg-06dp);
	box-shadow: 0 1px 3px rgb(0 0 0 / 50%);
}

.mangaItem[selected] {
	background: var(--bg-24dp);
}

.mangaImage {
	height: 100%;
}

.mangaDetails {
	display: inline-block;
	margin: 10px 0 0 10px;
}

.mangaDetails span {
	display: block;
	color: #fff;
	margin: 7px 10px;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.mangaDetails span:not(:first-child) {
	color: #a1a1a1;
	font-size: 13px;
}

.mangaDetails span:first-child {
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.openSource {
	position: absolute;
	bottom: 0px;
	right: 0px;
	border-radius: 50%;
	border: 0;
	background-color: transparent;
	color: #fff;
	cursor: pointer;
	display: grid;
	place-items: center;
	transition: background-color 0.2s;
	text-decoration: none;
	width: 45px;
	height: 45px;
}

.button {
	width: 45px;
	height: 45px;
}

.openSource:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 5em;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--bg-06dp);
}

.footer button {
	font-size: 18px;
	padding: 0.7em 2em;
	color: #fff;
	border: 0;
	cursor: pointer;
	border-radius: 0.2em;
}

.footer button[type='submit'] {
	margin-left: 10px;
	background: var(--main-color);
}

.footer button[type='submit'][disabled] {
	opacity: 0.4;
	cursor: not-allowed;
}

.footer button[type='reset'] {
	background-color: var(--bg-24dp);
}

.subscribed {
	display: flex;
	align-items: center;
}

.subscribed label {
	margin-right: 5px;
}

@media screen and (max-width: 23em) {
	.footer button {
		padding: 0.7em 1em;
	}
}

@media screen and (max-width: 17em) {
	.footer button {
		font-size: 15px;
	}
}
