.mainContainer {
	width: 100%;
	height: 100%;
	overflow: hidden scroll;
}

.series {
	display: flex;
	flex-direction: column;
	padding: 1em;
	position: relative;
}

.imageContainer {
	border: 0;
	height: 8em;
	padding: 0 2px;
	width: 8em;
	cursor: pointer;
	-webkit-user-drag: none;
	background-color: transparent;
}

.imageContainer img {
	width: 100%;
	height: 100%;
}
