.container {
	background-color: transparent;
	border: 1px solid #222;
	/* border: 1px solid rgb(168, 168, 168); */
	border-radius: 4px;
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;

	padding: 0 5px 0 8px;
	position: relative;
	outline: none;
}

.container > svg {
	width: 30px;
	transition: transform 0.1s ease-out;
}

.dropdown {
	position: absolute;
}
