@keyframes contentIn {
	from {
		transform: translate(-50%, -50%) scale(0);
	}
	to {
		transform: translate(-50%, -50%) scale(1);
	}
}

@keyframes contentOut {
	from {
		transform: translate(-50%, -50%) scale(1);
	}
	to {
		transform: translate(-50%, -50%) scale(0);
	}
}

.blackContainer {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10000;
	background-color: rgba(0, 0, 0, 0.85);
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.2s;
}

.blackContainer[data-show='true'] {
	opacity: 1;
	pointer-events: all;
}

.popupContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	background-color: var(--bg-00dp);

	width: 35em;
	height: 40em;
	max-height: calc(100vh - 2em);
	border-radius: 0.5em;
	overflow: hidden;
}

.popupContainer[data-show='true'] {
	animation: contentIn 0.2s ease-in-out forwards;
}

.popupContainer[data-show='false'] {
	animation: contentOut 0.2s ease-in-out forwards;
}

.header {
	background-color: var(--bg-02dp);
	height: 4em;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0 1em;
}

.header h5 {
	font-size: 1em;
	color: #fff;
	font-weight: 700;
	user-select: none;
}

.closeBtn {
	border-radius: 50%;
	padding: 8px;
	background-color: inherit;
	border: 0;
	outline: none;
	cursor: pointer;
	transition: background-color 0.2s;
	display: grid;
	place-items: center;
}

.closeBtn i {
	font-size: 26px;
}

.closeBtn:hover {
	background: var(--bg-12dp);
}

.body {
	width: 100%;
	height: calc(100% - 4em);
	overflow: hidden;
}

@media screen and (max-width: 37em) {
	.popupContainer {
		width: 100vw;
		height: 100vh;
		max-height: 100vh;
		border-radius: 0;
	}

	.body {
		max-height: calc(100vh - 4em);
	}
}
