.main {
	width: calc(100vw - 10px);
	display: flex;
	align-items: center;
	flex-direction: column;
}

.header {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 20px 5vw;
}

.title {
	color: rgba(255, 255, 255, 0.7);
	padding: 10px 0;
	font-weight: 100;
}

.container {
	display: flex;
	justify-content: space-between;
}

.pagination {
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;

	border: 1px solid #222;
	background: transparent;
	border-radius: 4px;
	font-family: inherit;
	transition: box-shadow, background 0.2s;
	user-select: none;
}

.pagination[disabled] {
	opacity: 0.3;
	user-select: none;
	pointer-events: none;
}

.pagination:not([disabled]):hover {
	box-shadow: 0 1px 3px rgb(0 0 0 / 50%);
	background: #303030;
	cursor: pointer;
}

.pagination img {
	padding: 5px 8px;
}

.pagination span {
	color: #eee;
	padding: 5px;
	width: 50px;
}

.pagination:nth-child(1) span {
	padding-right: 10px;
}

.pagination:nth-child(3) span {
	padding-left: 10px;
}

.chapters {
	background: var(--background-layer-1);
	width: auto;
	max-width: 90vw;
	min-height: 50vh;
	min-width: 20vw;
	margin: 10px 0;
	padding: 15px 30px 20px;
	transition: width 0.3s;
}

.main[data-isFullWidth='true'] .chapters {
	padding: 0;
	width: 100vw;
	min-width: none;
	max-width: none;
	min-height: none;
}

.chapters img {
	display: block;
	max-width: 100%;
	width: auto;
	max-height: 140vh;
	margin: 0 auto;
}

.main[data-isFullWidth='true'] .chapters img {
	max-height: none;
	width: 100%;
}

#alert {
	position: fixed;
	display: block;
	top: -100%;
	left: 50%;
	transform: translateX(-50%);
	width: auto;
	padding: 10px 40px;
	max-width: calc(100vw - 20px);
	transition: top 0.3s;
}

#alert.show {
	top: 5px;
}

#alert.error {
	background: #cf6679;
	color: #000;
}

@media only screen and (max-width: 600px) {
	.chapters {
		padding: 0;
		max-width: 100vw;
		width: 100vw;
	}
}
