.top {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}

.title {
	color: #cecece;
	font-weight: 500;
	font-size: 26px;
	-webkit-user-select: none;
	user-select: none;
}

.top > p {
	word-wrap: break-word;
}

.buttons {
	display: flex;
	flex-wrap: nowrap;
	width: 90px;
}

.buttons button {
	width: 45px;
	height: 45px;
	background-color: transparent;
	color: #fff;
	border: 0;
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.2s;
	cursor: pointer;
}

.buttons button:not([disabled]):hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.buttons button[disabled=''] {
	cursor: auto;
	color: #333;
}

.scrollContainer {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	overflow-x: scroll;
	overflow-y: visible;

	scrollbar-width: none;
	-ms-overflow-style: none;

	scroll-snap-type: x mandatory;
}

.scrollContainer::-webkit-scrollbar {
	display: none;
}

.scrollContainer > * {
	scroll-snap-align: start;
	flex-shrink: 0;
}
