.title {
	color: rgba(255, 255, 255, 0.7);
	padding-bottom: 10px;
	font-weight: 100;
	text-align: center;
}

.main {
	margin: 10px 0;
	padding: 15px 10px;
}

.main > header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 5px;
}

.profileDropdown {
	position: relative;
	width: 50px;
	height: 30px;
	display: flex;
	align-items: center;
	cursor: pointer;
	background: none;
	border: none;
}

.profileDropdown img {
	width: 30px;
	height: 30px;
	pointer-events: none;
}

.profileDropdown svg {
	fill: #fff;
	width: 20px;
	height: 20px;
	transition: transform 0.15s;
}

.main > section,
.main > section:nth-child(3) > div {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}

.main > section:nth-child(3) {
	border-radius: 0.3rem;
	overflow: hidden;
	margin-top: 20px;
	padding: 0;
	display: block;
	width: 100%;
	height: auto;
	background: var(--bg-00dp);
	border: 1px solid var(--bg-01dp);
}

.main > section:nth-child(3) > div {
	border-top: 1px solid var(--bg-01dp);
}

.toggleFinshedMangasButton {
	display: flex;
	align-items: center;

	width: 100%;
	height: 50px;
	margin: 0;
	padding: 5px 12px;
	background: var(--bg-00dp);
	border: 0;
	outline: none;
	/* align-content: center; */

	color: #fff;
	font-size: 1.5rem;
	text-align: left;

	transition: background 0.3s;
	cursor: pointer;
}

.toggleFinshedMangasButton:hover {
	background: var(--bg-01dp);
}

.toggleFinshedMangasButton:active {
	background: var(--bg-02dp);
}

.toggleFinshedMangasButton span {
	display: inline-block;
	/* width: 95px; */
}

.toggleFinshedMangasButton img {
	display: inline-block;
	transition: transform 0.1s;
}

.newManga {
	position: fixed;
	right: 20px;
	bottom: 20px;

	width: 60px;
	height: 60px;
	overflow: hidden;

	border-radius: 30px;
	border: 0;
	outline: none;
	background: var(--main-color);
	transition: background 0.3s;
	box-shadow: 0px 5px 8px 4px rgb(0 0 0 / 20%);

	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;
	user-select: none;
}

.newManga:hover {
	background: var(--main-color-hover);
}

.newManga.focus {
	background: var(--main-color-focus);
}

.newManga img {
	width: 45%;
	height: 45%;
}

.profilesMain {
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.profilesMain .title {
	margin-bottom: 30px;
}

.profiles {
	display: flex;
}

.profile {
	margin-right: 2vw;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

.profile img,
.profile svg {
	height: 10vw;
	width: 10vw;
	max-height: 200px;
	max-width: 200px;
	min-height: 84px;
	min-width: 84px;
	border-radius: 4px;
	border: 0.15em solid transparent;
	fill: grey;
}

.profile p {
	font-size: 1.3vw;
	color: grey;
}

.profile:hover img,
.profile:hover svg {
	border-color: #e5e5e5;
}

.profile:hover p {
	color: #e5e5e5;
}
