body {
	background: #121212;
	width: 100vw;
	display: flex;
	align-items: center;
	flex-direction: column;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title {
	color: rgba(255, 255, 255, 0.7);
	padding-bottom: 10px;
	font-weight: 100;
	text-align: center;
}

.main {
	margin: 10px 0;
	padding: 15px 10px;
}

.main > header {
	position: relative;
}

.main > header > button {
	position: absolute;
	right: 10px;
	top: 0;
}

.main > section,
.main > section:nth-child(3) > div {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}

.main > section:nth-child(3) {
	border-radius: 0.3rem;
	overflow: hidden;
	margin-top: 20px;
	padding: 0;
	display: block;
	width: 100%;
	height: auto;
	background: var(--background-layer-0);
	border: 1px solid var(--background-layer-1);
}

.toggleFinshedMangasButton {
	display: flex;
	align-items: center;

	width: 100%;
	height: 50px;
	margin: 0;
	padding: 5px 12px;
	background: var(--background-layer-0);
	border: 0;
	outline: none;
	/* align-content: center; */

	color: #fff;
	font-size: 1.5rem;
	text-align: left;

	transition: background 0.3s;
	cursor: pointer;
}

.toggleFinshedMangasButton:hover {
	background: var(--background-layer-1);
}

.toggleFinshedMangasButton:active {
	background: var(--background-layer-2);
}

.toggleFinshedMangasButton span {
	display: inline-block;
	width: 60px;
}

.toggleFinshedMangasButton img {
	display: inline-block;
	transition: transform 0.1s;
}

.newManga {
	position: fixed;
	right: 20px;
	bottom: 20px;

	width: 60px;
	height: 60px;
	overflow: hidden;

	border-radius: 30px;
	border: 0;
	outline: none;
	background: var(--main-color);
	transition: background 0.3s;
	box-shadow: 0px 5px 8px 4px rgb(0 0 0 / 20%);

	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;
	user-select: none;
}

.newManga:hover {
	background: var(--main-color-hover);
}

.newManga.focus {
	background: var(--main-color-focus);
}

.newManga img {
	width: 45%;
	height: 45%;
}
