.dropdown {
	background: var(--06dp);
	width: max-content;
	z-index: 999;
	cursor: auto;
	padding: 0.5rem 0;
	overflow-y: auto;
	visibility: hidden;
	position: fixed;
	border-radius: 0.5rem;
	box-shadow: 0px 5px 9px 2px rgba(0, 0, 0, 0.25);
}

.dropdown:global(.visible) {
	visibility: visible;
}

.item {
	padding: 0.8rem 2.5rem 0.8rem 1rem;
	cursor: pointer;
	transition: background 0.15s;
	display: flex;
	align-items: center;
	font-size: 16px;
	font-family: var(--font-family);
	text-align: left;
	white-space: nowrap;
}

.dropdown:global(.small) .item {
	font-size: 14px;
	padding: 7px 20px 7px 15px;
}

.item[disabled],
.item[disabled] * {
	cursor: not-allowed;
}

.item[disabled] * {
	color: #777;
}

.item:not([disabled]):hover,
.item:not([disabled]):global(.selected) {
	background-color: rgba(255, 255, 255, 0.1);
}

.item:global(.noHover) {
	cursor: default;
	background-color: transparent !important;
}

.item:global(.noPadding) {
	padding: 0;
}

.divider {
	width: 100%;
	height: 1px;
	background-color: var(--outline-variant);
	margin: 5px 0;
}

.icon {
	display: grid;
	place-items: center;
}

.icon img {
	width: 24px;
	height: 24px;
	margin-right: 10px;
}

.icon :global(.icon) {
	margin-right: 15px;
}
