.overlay {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	z-index: 999;

	box-shadow: 0px 5px 8px 4px rgb(0 0 0 / 20%);
	border-radius: 8px;

	background: #1c1c1c;
	width: 600px;
	height: 700px;
	max-height: calc(100vh);
	max-width: calc(100vw);
	overflow-y: auto;
	overflow-x: hidden;

	transition: transform .3s ease-in-out;

	padding: 0 10px 60px 10px;
}


.overlay.visible {
	opacity: 1;
	visibility: visible;
	transform: translate(-50%, -50%) scale(1);
}


.overlay header {
	width: 100%;
	height: 80px;
	
	display: flex;
	align-items: center;
	justify-content: center;
}


.inputContainer {
	display: flex;
	flex-direction: row;
	width: calc(100% - 80px);
	height: 2.8em;
	background: #333;
	/* border: 1px solid #333; */
	/* border: 1px solid rgba(0,0,0,0.15); */
	border-radius: 4px;
	box-shadow: 0 1px 3px rgb(0 0 0 / 50%);
	overflow: hidden;
}



.inputContainer input {
	padding: 0 3.5em 0 1em;
	
	background: transparent;
	border: none;
	outline: 0;
	color: #eee;
	/* font-family: inherit; */
	font-size: 1.1em;
	/* display: inline-block; */
	width: 100%;
}

.inputContainer input::placeholder {
  color: #ababab;
  opacity: 1;
}

.inputContainer button {
	background: transparent;
	border: 0;
	outline: none;
	height: 100%;
	/* display: inline-block; */
	opacity: .7;
}

.submitBtn,
.resetBtn {
	cursor: pointer;
	display: grid;
	place-items: center;
}

.submitBtn {
	width: 60px;
}

.resetBtn {
	width: 25px;
	opacity: .9;
	margin-right: 5px;
	/* margin-right: 3.2em; */
	/* margin-right: 10px; */
}

/* .resetButton.visible {
	visibility: visible;
} */

.inputContainer:hover .submitBtn {
	background: #444;
	opacity: 1;
}












.hostName {
	color: #fff;
	font-size: 1.2em;
	margin: 5px 10px 15px 10px;
}


.mangaItem {
	display: flex;

	height: 120px;
	width: calc(100% - 60px);
	padding: 0px 30px 0 0;
	margin: 15px 0 15px 30px;
	overflow: hidden;

	border: 1px solid #333;
	border-radius: 4px;
	cursor: pointer;
	transition: background .2s, box-shadow .2s;
}

.mangaItem:hover {
	background: #333;
	box-shadow: 0 1px 3px rgb(0 0 0 / 50%);
}

.mangaItem[selected] {
	background: #444;
}


.mangaItemImageContainer {
	display: inline-block;
	height: 100%;
	width: 83px;
}

.mangaItemImageContainer img {
	width: 100%;
	height: 100%;
}


.mangaItemDetails {
	display: inline-block;
	margin: 10px 0 0 10px;
}

.mangaItemDetails span {
	display: block;
	color: #fff;
	margin: 7px 10px;
}

.mangaItemDetails span:not(:first-child) {
	color:#a1a1a1;
	font-size: 13px;
}















.footerContainer {
	position: fixed;
	left: 0;
	bottom: 0;

	height: 70px;
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: flex-end;

	background: #2c2c2c;
}


.footerContainer button {
	padding: 8px 15px;
	margin: 0 10px;

	background: transparent;
	border: 1px solid transparent;
	color: #fff;
	border-radius: 4px;

	font-family: inherit;
	font-size: 15px;
	cursor: pointer;
}


.footerContainer button[type="submit"] {
	background: var(--main-color);
	border-color: transparent;
	margin-right: 20px;
}

.footerContainer button[type="submit"][disabled] {
	opacity: .6;
	cursor: not-allowed;
}
