.container {
	width: 100%;
	height: 100%;
	overflow: hidden scroll;
}

.main {
	padding: 2em;
	padding-bottom: 7em;
}

.formGroup {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.formGroup:not(:last-child) {
	margin-bottom: 1.8em;
}

.formGroup label {
	user-select: none;
	color: #bbb;
	font-size: 1em;
	margin-bottom: 0.25em;
	width: max-content;
}

.formGroup input[type='text'],
.formGroup textarea,
.formGroup select {
	color: #bbb;
	background-color: var(--bg-12dp);
	border: 0.16em solid var(--bg-12dp);
	outline: none;
	border-radius: 0.2em;
	padding: 0.4em 0.25em;
	font-size: 1.1em;
	font-family: Arial;
	width: 100%;
}

.formGroup textarea {
	resize: vertical;
}

.formGroup input:focus,
.formGroup textarea:focus,
.formGroup select:focus {
	border-color: var(--primary);
}

.formGroup button:not([name]),
.toggleAdvanced {
	background-color: transparent;
	border: 0;
	outline: none;
	font-size: 1em;
	color: #bbb;
	text-decoration: underline;
	cursor: pointer;
	width: max-content;
	margin-top: 0.2em;
}

/* .formGroup {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.formGroup:not(:last-child) {
	margin-bottom: 1.8em;
}

.formGroup label {
	user-select: none;
	color: #bbb;
	font-size: 1em;
	margin-bottom: 0.25em;
	width: max-content;
}

.formGroup input[type='text'] {
	color: #bbb;
	background-color: var(--bg-12dp);
	border: 0.16em solid var(--bg-12dp);
	outline: none;
	border-radius: 0.2em;
	padding: 0.4em 0.25em;
	font-size: 1.1em;
	width: 100%;
}

.formGroup input:focus {
	border-color: var(--primary);
}

.formGroup button:not([name]),
.toggleAdvanced {
	background-color: transparent;
	border: 0;
	outline: none;
	font-size: 1em;
	color: #bbb;
	text-decoration: underline;
	cursor: pointer;
	width: max-content;
	margin-top: 0.2em;
} */

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 5em;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--bg-06dp);
}

.footer button {
	font-size: 18px;
	padding: 0.7em 2em;
	color: #fff;
	border: 0;
	cursor: pointer;
	border-radius: 0.2em;
}

.footer button[type='submit'] {
	margin-left: 10px;
	background: var(--primary);
}

.footer button[type='reset'] {
	background-color: var(--bg-24dp);
}

@media screen and (max-width: 40em) {
	.container {
		height: calc(100vh - 4em);
	}
	.main {
		max-width: 100vw;
		max-height: calc(100vh - 9em);
	}
}

@media screen and (max-height: 43em) and (min-width: 40em) {
	.main {
		max-height: calc(100vh - 11em);
	}
}

@media screen and (max-width: 23em) {
	.footer button {
		padding: 0.7em 1em;
	}
}

@media screen and (max-width: 17em) {
	.footer button {
		font-size: 15px;
	}
}
