.navbar {
	background-color: transparent;
	display: flex;
	flex-direction: row;
	padding: 10px var(--padding);
	margin-bottom: 5px;
	height: 65px;
	align-items: center;
	justify-content: space-between;
}

.navbar > div {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.logo,
.logo img {
	height: 100%;
}

.navbar > *:nth-child(2) {
	justify-content: center;
}

.navlink {
	background-color: transparent;
	border: 0;
	outline: none;
	color: #a0a0a0;
	font-size: 0.9rem;
	cursor: pointer;
	transition: color 0.2s;
	font-weight: bold;
	margin: 0 1rem;
	text-decoration: none;
}

.navlink:global(.active) {
	color: #fff;
}

@media (hover: hover) {
	.navlink:hover {
		color: var(--main-color);
	}
}

.button {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	border: 0;
	background-color: transparent;
	color: #fff;
	cursor: pointer;
	display: grid;
	place-items: center;
	transition: background-color 0.2s;
	text-decoration: none;
}

.button:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.profileDropdown {
	position: relative;
	/* width: 30px;
	height: 30px; */
	display: flex;
	align-items: center;
	cursor: pointer;
	background: none;
	border: none;
}

.profileDropdown > i {
	font-size: 2.2rem;
	pointer-events: none;
}

.searchBtn {
	float: right;
	background-color: transparent;
	border: 0;
	outline: none;
	height: 100%;
	padding: 0.6rem;
	border-radius: 50%;
	cursor: pointer;
	transition: 0.15s;
}

.searchBtn:hover {
	background-color: var(--bg-04dp);
}

.searchBtn:focus {
	background-color: var(--bg-24dp);
}
