.navbar {
	/* background-color: rgba(var(--surface-0-rgb), 0.2); */
	/* backdrop-filter: blur(12px); */
	width: 100%;
	height: var(--navbar-height);
	padding: 0 var(--padding);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0;
	z-index: 999;
}

.left,
.right {
	height: 100%;
	display: flex;
	align-items: center;
}

.left {
	display: flex;
	align-items: center;
	gap: 0.8rem;
}

.button {
	border: 0;
	padding: 6px;
	border-radius: 50%;
	background-color: transparent;
	color: var(--on-surface);
	cursor: pointer;
	display: grid;
	place-items: center;
	transition: background-color 0.15s;
	text-decoration: none;
	transition: 0.15s;
	font-size: 28px;
}

.button:hover,
.button:focus-within {
	background-color: var(--primary);
}

.navlink {
	border: 0;
	font-size: 14px;
	cursor: pointer;
	transition: color 0.15s;
	margin-right: 2.5rem;
	text-decoration: none;
}

.right {
	justify-content: flex-end;
	gap: 0.5rem;
}

.hamburger {
	display: none;
}

.searchBtn {
	display: none;
}

.profileDropdown {
	position: relative;
	cursor: pointer;
	border: none;
}

.profileDropdown > i {
	font-size: inherit;
	pointer-events: none;
}

.searchContainer {
	padding: 0.1rem 0.8rem 0.1rem 1.2rem;
	border-radius: 0.3rem;
	display: flex;
	align-items: center;
	position: relative;
	border: 1px solid var(--outline-variant);
	background-color: rgba(var(--surface-0-rgb), 0.4);
	outline-offset: -1px;
}

.searchContainer:focus-within {
	outline: 1px solid var(--primary);
}

.searchContainer > input {
	width: 12rem;
	height: 2rem;
	background-color: transparent;
	border: 0;
	outline: none;
	font-size: 1rem;
	transition: width 0.3s;
	width: 18rem;
}

.searchResults {
	width: 100%;
}

.searchResult {
	padding: 0.7rem;
	display: flex;
	gap: 0.5rem;
}

.searchResult > img {
	object-fit: cover;
}

.content p {
	color: rgba(255, 255, 255, 0.7);
	font-size: 14px;
	margin-top: 0.4rem;
}

.allResults {
	--margin: 0.7rem;
	margin: var(--margin) var(--margin) 0.2rem;
	width: calc(100% - 2 * var(--margin));
}

@media (hover: hover) {
	.navlink:hover {
		color: #8a8f98;
	}
}

@media screen and (max-width: 900px) {
	.navbar > div:first-child > div {
		display: none;
	}

	.hamburger {
		display: inline;
	}
}

@media screen and (max-width: 700px) {
	.searchContainer {
		display: none;
	}

	.searchBtn {
		display: inline;
	}
}
