.navbar {
	background-color: var(--04dp);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0.8rem var(--padding);
	height: 64px;
	width: 100%;
	max-width: 100%;
	margin: 0 auto 5px;
}

.navbar > div {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.navlink {
	border: 0;
	outline: none;
	font-size: 0.9rem;
	cursor: pointer;
	transition: color 0.3s;
	font-weight: bold;
	margin: 0 1rem;
	text-decoration: none;
}

.navlink:global(.active) {
	color: var(--primary);
}

.right {
	justify-content: flex-end;
	gap: 0.5rem;
}

.button {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	border: 0;
	background-color: transparent;
	color: var(--on-surface);
	cursor: pointer;
	display: grid;
	place-items: center;
	transition: background-color 0.2s;
	text-decoration: none;
}

.profileDropdown {
	position: relative;
	display: flex;
	align-items: center;
	cursor: pointer;
	background: none;
	border: none;
}

.profileDropdown > i {
	font-size: 2.2rem;
	pointer-events: none;
}

.searchContainer {
	padding: 0.2rem 0.8rem 0.2rem 1.2rem;
	border-radius: 5px;
	display: flex;
	align-items: center;
	background-color: var(--00dp);
	transition: border-color 0.3s;
	position: relative;
}

.searchContainer:focus-within {
	outline: 1px solid var(--primary);
}

.searchContainer > input {
	width: 12rem;
	height: 2rem;
	background-color: transparent;
	border: 0;
	outline: none;
	font-size: 1rem;
	transition: width 0.3s;
	width: 18rem;
}

.searchResults {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -0.5rem;
	transform: translateY(100%);
	background-color: var(--06dp);
	color: var(--on-surface);
	z-index: 99;
	border-radius: 0.6rem;
	display: none;
	flex-direction: column;
	overflow: hidden;
	padding: 0.6rem 0;
	box-shadow: 0px 2px 9px 2px rgba(0, 0, 0, 0.25);
}

.searchResults:global(.visible) {
	display: flex;
}

.searchResult {
	padding: 0.7rem;
	width: 100%;
	cursor: pointer;
	transition: 0.15s;
	display: flex;
	gap: 0.5rem;
}

.searchResult:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.searchResult > img {
	object-fit: cover;
}

.allResults {
	background-color: var(--primary);
	color: var(--on-primary);
	margin: 0.7rem 0.7rem 0.2rem;
	border: 0;
	padding: 0.8rem;
	cursor: pointer;
	border-radius: 0.6rem;
	transition: background-color 0.3s;
}

/* .allResults:hover {
	background-color: var(--primary-hover);
}

.allResults:focus {
	background-color: var(--primary-focus);
}

.allResults:active {
	background-color: var(--primary-active);
} */

@media (hover: hover) {
	.navlink:hover {
		color: var(--primary);
	}
}
