.navbar {
	/* display: flex;
	align-items: center; */
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	padding: 0 10px;
	margin-bottom: 5px;
}

.navlinks {
	display: flex;
	align-items: center;
	justify-content: center;
}

.navlink {
	background-color: transparent;
	border: 0;
	outline: none;
	color: #a0a0a0;
	font-size: 0.9em;
	cursor: pointer;
	transition: color 0.2s;
	font-weight: bold;
	margin: 0 1em;
	text-decoration: none;
}

.navlink:global(.active) {
	color: #fff;
}

@media (hover: hover) {
	.navlink:hover {
		color: var(--main-color);
	}
}

.profileDropdown {
	position: relative;
	width: 50px;
	height: 30px;
	display: flex;
	align-items: center;
	cursor: pointer;
	background: none;
	border: none;
}

.profileDropdown img {
	width: 30px;
	height: 30px;
	pointer-events: none;
}

.profileDropdown svg {
	fill: #fff;
	width: 20px;
	height: 20px;
	transition: transform 0.15s;
}
