.main {
	padding: 1rem 0;
}

.mangas {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, auto));
	gap: 1.5rem;
}

.main > h1 {
	margin: 3rem 0 3rem 0;
}

.pagination {
	margin: 2rem auto 1rem;
	width: max-content;
}
