:root {
	--main-color: #2596be;
	--main-color-hover: #30b1e0;
	--main-color-focus: #40a4c6;

	--bg-00dp: #121212;
	--bg-01dp: #1e1e1e;
	--bg-02dp: #232323;
	--bg-03dp: #252525;
	--bg-04dp: #272727;
	--bg-06dp: #2c2c2c;
	--bg-08dp: #2f2f2f;
	--bg-12dp: #333;
	--bg-16dp: #353535;
	--bg-24dp: #383838;
}

#root {
	width: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
	line-height: 1.35;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	/* font-family: Noto Sans, Noto Sans HK, Noto Sans JP, Noto Sans KR, Noto Sans SC,
		sans-serif; */
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--bg-00dp);
}

::-webkit-scrollbar {
	width: 16px;
}

::-webkit-scrollbar-thumb {
	height: 56px;
	border-radius: 8px;
	border: 4px solid transparent;
	background-clip: content-box;
	background-color: #bbb;
}

iframe {
	display: none !important;
}

svg {
	fill: #fff;
}

.hidden {
	visibility: hidden;
}

.button {
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;

	border: 1px solid #222;
	background: transparent;
	border-radius: 4px;
	font-family: inherit;
	transition: box-shadow, background 0.2s;
	user-select: none;
}

.button[disabled] {
	opacity: 0.3;
	user-select: none;
	pointer-events: none;
}

.button:not([disabled]):hover {
	box-shadow: 0 1px 3px rgb(0 0 0 / 50%);
	background: #303030;
	cursor: pointer;
}

.button img,
.button svg {
	padding: 5px 8px;
}

.button svg {
	fill: #fff;
	height: 100%;
}

.button span {
	color: #fff;
	width: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 0pt;
}

.button.icon-left img {
	padding-right: 0px;
}

.button.icon-right img {
	padding-left: 0px;
}

.checkbox {
	width: 3em;
	height: 1em;
	border-radius: 999em;
	border: 0;
	outline: none;
	background-color: var(--bg-24dp);
	position: relative;
	cursor: pointer;
	transition: background-color 0.1s linear;
}

.checkbox[data-ischecked='true'] {
	background-color: var(--main-color);
}

.checkbox::after {
	content: '';
	width: 1.5em;
	height: 1.5em;
	background-color: rgb(202, 202, 202);
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: -0.25em;
	transition: left 0.1s ease-in-out;
}

.checkbox[data-ischecked='true']::after {
	left: calc(100% - 1.5em);
}
